body {
  overflow-x: hidden;
}

.rect {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 250px;
  border: 5px solid #1b1b32;
  color: gray;
  font-size: 2rem;
  position: absolute;
}
