body {
  background: #e9e6e6;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links li {
  list-style: none;
  gap: 20px;
}

.links li a {
  text-decoration: none;
  margin: 0 20px;
  color: #222;
}

.links li a:hover {
  text-decoration: underline;
}

.avatar img {
  width: 40%;
}

.about-me {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
